* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-sizing {
    background-color: #1F2937;
}


/* body {
    padding: 16px;
} */

/* header layout start */

.page-logo {
    width: 70px;
    height: 50px;
    flex: 0 0 auto;
    filter: invert(90%);
}

header, ul {
    display: flex;
    gap: 1em;
}

header .brand-name {
    min-width: 300px;
    margin: auto 0;
    flex: 1 1 auto;
    font-size: 24px;
    color: #f9faf8;
}

nav {
    margin: auto 0;
}
ul{
    list-style-type: none;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-size: 18px;
}

header {
    width: 80%;
    padding: 1em;
    margin: 0 auto;
    color: #f9faf8;
}

/* link behaviors start */
a:visited {
    color: #e5e7eb;
}
a:hover,
a:focus {
    color: #aaf8f8;
}
a:active {
    color: #e5e7eb;
}
/* link behaviors end */
/* header layout end */

/* intro layout start */

#intro {
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-description {
    padding: 1em;
    width: 450px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.left-description h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0 0 1rem;
    color: #f9faf8;
}

.left-description p {
    font-size: 24px;
    margin: 0 0 2rem;
    color: #f9faf8;
}

button {
    padding: 10px;
    background-color: #3882f6;
    border: 1px solid rgb(167, 232, 240);
    border-radius: 10px;
    width: max-content; 
}
 
button a {
    color:whitesmoke;
}


.img-preview {
    padding: 1em;
    display: flex;
    align-items: center;
}

.img-preview img:first-child {
    width: 150px;
    height: auto;  
}

.img-preview img:nth-child(2) {
    width: 205px;
    height: auto;  
}
/* intro layout end */

/* information layout start */

.page-sizing-2 {
    padding: 16px 0 32px ;
}

#info {
    width: 80%;
    margin: auto;
}

#info h2 {
    text-align: center;
    margin: 16px auto;
}

.info-div {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

.info-div > * {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 300px;
}

.info-div img {
    background-color: rgb(232, 232, 232);
    border-radius: 30%;
    width: 150px;
    height: 170px;
    margin: 10px;
}

.info-div h3 {
    flex: 1 0 auto;
    align-self:center;
}

/* information layout end */

/* testimonial layout start */

.page-sizing-3 {
    /* padding: 16px 0 32px; */
    background-color: #e5e7eb;
}

#testimonial {
    width: 80%;
    margin: auto;
}

#testimonial p {
    font-size: 36px;
    color: #1F2937;
}

.quote-block img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.quote-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 32px;
}

.quote-block a img:hover {
    width: 305px;
    height: 305px;
    color: #767676;
    filter: brightness(90%);
    box-shadow: 10px 10px 10px 5px gainsboro, 
        -10px -10px 10px 5px gainsboro;
}   

.quote-phrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    width: 60%;
}