@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.page-sizing {
    background-color: #1F2937;
}

.on-top {
    display: block;
    position: fixed;
    background-color: #1F2937;
    width: 100%;
}

/* body {
    padding: 16px;
} */

/* header layout start */

.page-logo {
    width: 70px;
    height: 50px;
    flex: 0 0 auto;
    filter: invert(90%);
}

header, ul {
    display: flex;
    gap: 1em;
}

header .brand-name {
    min-width: 300px;
    margin: auto 0;
    flex: 1 1 auto;
    font-size: 24px;
    color: #f9faf8;
}

nav {
    margin: auto 0;
}
ul{
    list-style-type: none;
    justify-content: space-around;
    gap: 50px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #f9faf8;
}

header {
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    color: #f9faf8;
}

/* link behaviors start */
li a:visited {
    color: #e5e7eb;
}
li a:hover,
li a:focus {
    color: #aaf8f8;
}
li a:active {
    color: #e5e7eb;
}
/* link behaviors end */
/* header layout end */

/* intro layout start */

#intro {
    padding: 80px 0 50px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-description {
    padding: 1em;
    width: 600px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.left-description h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0 0 3rem;
    color: #f9faf8;
}

.left-description p {
    font-size: 24px;
    margin: 0 0 2rem;
    color: #f9faf8;
}

button {
    padding: 10px;
    background-color: #3882f6;
    border: 1px solid rgb(167, 232, 240);
    border-radius: 10px;
    width: max-content; 
}
 
button a {
    color:whitesmoke;
}

button a:visited {
    color:#f9faf8;
}

button:hover,
button:focus {
    filter: brightness(80%);
}


.img-preview {
    padding: 1em;
    display: flex;
    align-items: center;
}

.img-preview img:first-child {
    width: 150px;
    height: auto;  
}

.img-preview img:nth-child(2) {
    width: 205px;
    height: auto;  
}
/* intro layout end */

/* information layout start */

/* .page-sizing-2 {
    padding: 32px 0;
} */

#info {
    padding: 70px 0;
    width: 80%;
    margin: auto;
}

#info h2 {
    text-align: center;
    margin: 0 auto;
}

.info-div {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

.info-div > * {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 350px;
    gap: 10px;
}

.info-div img {
    background-color: rgb(232, 232, 232);
    border-radius: 50%;
    border: 2px solid #aaf8f8;
    object-fit: cover;
    width: 170px;
    height: 170px;
    margin: 10px;
}

.info-div h3 {
    flex: 1 0 auto;
    align-self:center;
    height: 50px;
}

/* information layout end */

/* testimonial layout start */

.page-sizing-3 {
    /* padding: 16px 0 32px; */
    background-color: #e5e7eb;
}

#testimonial {
    padding: 50px;
    width: 80%;
    margin: auto;
}

#testimonial p {
    font-size: 2rem;
    font-style: italic;
    color: #1F2937;
}

#testimonial p:nth-child(2) {
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    color: #1F2937;
}

.quote-block img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.quote-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 32px;
}

.quote-block a img:hover {
    color: #767676;
    filter: brightness(90%);
    box-shadow: 10px 10px 10px 5px gainsboro, 
        -10px -10px 10px 5px gainsboro;
}   

.quote-phrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    width: 60%;
}
/* testimonial layout end */

/* call to action start */

#call-to-action {
    padding: 60px;
    width: 80%;
    margin: auto;
}

.call-block {
    border: 1px solid #3882f6;
    border-radius: 1rem;
    background-color: #3882f6;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-width: 300px;
    
}

.call-block div:first-of-type {
    width: 300px;
    flex: 1;
}

.call-block h2 {
    font-size: 1.5em;
    color:#f9faf8
}

.call-block p {
    font-size: 1em;
    color:#f9faf8
}
/* call to action start */

/* footer layout start */

.page-sizing:last-of-type {
    height: 40px;
    padding: 10px;
}

footer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
footer p {
    font-size: 1em;
    color:#f9faf8
}
